# -------------------------------------------------------------------------
#
#   CONFIGS
#
#     xxx
#
#     Authors:
#       - @amanmajid
#
# -------------------------------------------------------------------------

paths:
  brownfield_models: "networks/brownfield/"
  output_model_runs: "outputs/model_runs/" # path to save model run outputs
  path_to_model: '/home/irfanm/tza-pypsa/stock_models/India'
global_vars:
  year: 2030 # year of the model run
  frequency: 1h # time resolution of the model run (should be 1h for CFE)
  timesteps: 8760 # number of timesteps in the model run (e.g., 24 = 1 day)
  solver: gurobi # solver used to solve the optimization problem
  ci_label: C&I # this is a unique identifier for all CFE attributes in the network
  enable_fossil_charging: false # if true, the model will allow batteries to be charged by fossil fuels
  set_global_constraints: false # if true, the model will set global constraints from tza-pypsa (keep False here)
  maximum_excess_export_cfe: 0.20 # maximum fraction of excess electricity that can be sold from C&I asset to grid under CFE scenarios
  maximum_excess_export_res100: 0.20 # maximum fraction of excess electricity that can be sold from C&I asset to grid under annual matching

constraints:
  bus_self_sufficiency: # constraint is set by user
    enable: false
    fraction: 0.6
    buses:
      - 'INDNO'
      - 'INDEA'
  bus_individual_self_sufficiency: # constraints are predefined in network
    enable: false
  policy_targets:
    enable: true
  min_annual_generation:
    enable: false
    generator: 'example01'
    fraction: 0.2
  min_utilisation_links:
    enable: false
    carriers:
      - 'AC'
  max_utilisation_links:
    enable: false
    carriers:
      - 'AC'
  min_utilisation_generator: # fraction is predefined in network
    enable: false
    carriers:
      - 'coal'
  max_utilisation_generator: # fraction is predefined in network
    enable: false
    carriers:
      - 'coal'
  max_utilisation: # fraction is set by user
    enable: false
    fraction: 0.8
    carriers:
      - 'coal'
      - 'gas'
      - 'oil'
      - 'geothermal'
  cofiring_ccs_gen:
    enable: false
    clean_generator:
      - 'hydrogen'
    fossil_generator:
      - 'coal'

model_runs:
  - name: india-test-constraint-testing
    palette: palette_1
    stock_model: '/home/irfanm/tza-pypsa/stock_models/India'
    select_nodes:
      - INDNO
      - INDEA
      - INDWE
      - INDSO
      - INDNE
    nodes_with_ci_load:
      - INDSO
    cfe_score:
      - 0.6
      # - 0.7
      - 0.8
      # - 0.9
      # - 1.0
    ci_load_fraction: 0.05 # percentage of bus-level demand that is attributed to participating C&I consumers (e.g., 0.2 = 20% of bus demand is C&I)
    allow_grid_expansion: false # if true, the model will allow interconnector (link) expansion
    allow_generation_expansion: false # if true, the model will allow generation expansion, if false, will leave as it
    allow_storage_expansion: false # if true, the model will allow storage expansion, if false, will leave as it
    backstop: false # if true, the model will run with a backstop technology (i.e., a generator with infinite supply potential)

technology_palette:
  #### only palette 1 is currently supported
  palette_1:
    - 'wind-onshore'
    - 'photovoltaic-unspecified'
    - 'battery'
  palette_2:
    - photovoltaic-unspecified
    - wind-offshore-unspecified
    - wind-onshore
    - hydro-unspecified
    - bioenergy-unspecified
    - battery
  palette_3:
    - photovoltaic-unspecified
    - wind-offshore-unspecified
    - wind-onshore
    - hydro-unspecified
    - bioenergy-unspecified
    - battery
    - hydrogen???
