run: test-snakemake-india
results_dir: results/
paths:
  brownfield_models: "networks/brownfield/"
  output_model_runs: "outputs/model_runs/" # path to save model run outputs
  path_to_model: "/Users/adminuser/Documents/Coding/TransitionZero/tza-google-cfe/tza-pypsa/stock_models/India"

###################
# Wildcards
scenario:
  policy: ["ref", "cfe90", "cfe98", "cfe100"] # Example policies
  palette: [
      "p1", # onwind + solar + battery
      "p2", # onwind + solar + battery + hydro
      "p3", # onwind + solar + battery + hydrogen
    ]
  year: [2023, 2030] # Years for the model runs
  cfe_score: [60, 70, 80, 90, 100]

technology_palette:
  #### only palette 1 is currently supported
  p1:
    - "wind-onshore"
    - "photovoltaic-unspecified"
    # - batteries
  p2:
    - photovoltaic-unspecified
    - wind-offshore-unspecified
    - wind-onshore
    - hydro-unspecified
    - bioenergy-unspecified
    - battery
  p3:
    - photovoltaic-unspecified
    - wind-offshore-unspecified
    - wind-onshore
    - hydro-unspecified
    - bioenergy-unspecified
    - battery
    - hydrogen???

global_vars:
  year: 2023 # year of the model run
  frequency: 1h # time resolution of the model run (should be 1h for CFE)
  timesteps: 8760 # number of timesteps in the model run (e.g., 24 = 1 day)
  solver: highs # solver used to solve the optimization problem
  ci_label: C&I # this is a unique identifier for all CFE attributes in the network
  enable_fossil_charging: false # if true, the model will allow batteries to be charged by fossil fuels
  set_global_constraints: false # if true, the model will set global constraints from tza-pypsa (keep False here)
  maximum_excess_export: 0.20 # maximum fraction of excess electricity that can be sold from C&I asset to grid

model_runs:
  - name: india-test-full-cfe
    palette: palette_1
    stock_model: "tza-pypsa/stock_models/India"
    select_nodes:
      - INDNO
      - INDEA
      - INDWE
      - INDSO
      - INDNE
    nodes_with_ci_load:
      - INDSO
    cfe_score:
      - 0.6
      - 0.7
      - 0.8
      - 0.9
      - 1.0
    ci_load_fraction: 0.05 # percentage of bus-level demand that is attributed to participating C&I consumers (e.g., 0.2 = 20% of bus demand is C&I)
    allow_grid_expansion: false # if true, the model will allow interconnector (link) expansion
    backstop: false # if true, the model will run with a backstop technology (i.e., a generator with infinite supply potential)


  # - name: refactor-nov-2024
  #   palette: palette_1
  #   stock_model: ASEAN
  #   select_nodes:
  #     #### here we can take a subset of nodes from the stock model
  #     - SGPXX
  #     - MYSSK
  #     - MYSPE
  #     - MYSSH
  #     # - IDNSM
  #     # - IDNJW
  #     # - IDNNU
  #     # - IDNKA
  #     # - IDNSL
  #     # - IDNML
  #     # - IDNPP
  #     # - PHLLU
  #     # - PHLVI
  #     # - PHLMI
  #     # - BRNXX
  #     # - MMRXX
  #     # - THANO
  #     # - THASO
  #     # - THACE
  #     # - VNMNO
  #     # - VNMCE
  #     # - VNMSO
  #     # - KHMXX
  #     # - LAOXX
  #   nodes_with_ci_load:
  #     #### Define which nodes (buses) we want to have a C&I load with a 24/7 CFE PPA
  #     #### ((Note: we can only model C&I at one node at a time right now. Multi-node C&I is WIP.))
  #     - SGPXX
  #   cfe_score:
  #     #### percentage of C&I electricity demand that is met by carbon-free energy PPA (0.10 = 10% CFE matching)
  #     # - 0.10
  #     # - 0.15
  #     # - 0.20
  #     # - 0.25
  #     # - 0.30
  #     # - 0.35
  #     # - 0.40
  #     # - 0.45
  #     # - 0.50
  #     # - 0.55
  #     - 0.60
  #     # - 0.65
  #     - 0.70
  #     # - 0.75
  #     - 0.80
  #     # - 0.85
  #     - 0.90
  #     # - 0.95
  #     # - 0.96
  #     # - 0.97
  #     # - 0.98
  #     # - 0.99
  #     - 1.00
  #   ci_load_fraction: 0.2 # percentage of bus-level demand is attributed to C&I (e.g., 0.2 = 20% of bus demand is C&I)
  #   allow_grid_expansion: false # if true, the model will allow interconnector (link) expansion
  #   backstop: false # if true, the model will run with a backstop technology (i.e., a generator with infinite supply potential)

  # - name: prelim-run-MYS-oct-2024
  #   palette: palette_1
  #   stock_model: ASEAN
  #   select_nodes:
  #     - MYSSK
  #   nodes_with_ci_load:
  #     - MYSSK
  #   ci_load_fraction: 0.2 # percentage of nodal demand is attributed to C&I
  #   cfe_score:
  #     # percentage of C&I electricity demand that is met by carbon-free energy PPA
  #     # 0.10 = 10% CFE matching
  #     # - 0.10
  #     # - 0.15
  #     # - 0.20
  #     # - 0.25
  #     # - 0.30
  #     # - 0.35
  #     # - 0.40
  #     # - 0.45
  #     # - 0.50
  #     # - 0.55
  #     - 0.60
  #     - 0.65
  #     - 0.70
  #     - 0.75
  #     - 0.80
  #     - 0.85
  #     - 0.90
  #     - 0.95
  #     - 0.96
  #     - 0.97
  #     - 0.98
  #     - 0.99
  #     - 1.00
  #   allow_grid_expansion: false
  #   backstop: false
